.my-jobs-container {
    display: grid;
    height: 100%;
    grid-template-columns: 70% 30%;    
    grid-gap: 1px 1px;
    grid-template-areas: "job-dashboard job-detail";
}

.job-dashboard {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-area: "job-dashboard"
}

.add-job-button{
    display: flex;
    border-style: dashed; 
    border-color: #edeeef;
    justify-content: center;
    height: 100%;
    justify-self: stretch;
    align-items: center;
}

.job-detail {
    grid-area: "job-detail"
}

.modal-container {
    display: flex;
    flex-direction: column;
}

.add-job-field {
    order: 0;
}

.job-detail-paper{

}

