.App {
    display: grid;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    grid-gap: 1px 1px;
    grid-template-areas: "nav-bar" "app-page";
}

.nav-bar{
    grid-area: 'nav-bar';
}

.app-page{
    grid-area: 'app-page';
}


.my-jobs-container {
    display: grid;
    height: 100%;
    grid-template-columns: 70% 30%;    
    grid-gap: 1px 1px;
    grid-template-areas: "job-dashboard job-detail";
}

.job-dashboard {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-area: "job-dashboard"
}

.job-detail {
    grid-area: "job-detail"
}

